<nav class="navbar navbar-expand navbar-dark bg-primary">
<a class="navbar-brand text-warning" href="#">Members only!</a>
    
    <ul class="navbar-nav ml-auto">
     <li class="nav-item">
       <%= user_session %>
      </li>
    </ul>
</nav>